@model IEnumerable<SistemaAC.Models.Curso>
@{
    ViewData["Title"] = "Cursos";
}
<h2>Cursos</h2>
<p>
    <a data-toggle="modal" data-target="#modalCS" class="btn btn-info">Crear curso</a>
</p>

<div class="form-group">
    <div class="col-md-6">
        <input type="text" name="filtrar" placeholder="Buscar" onkeyup="" class="form-control"/>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creditos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Costo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Creditos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Horas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Costo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.categoria.CategoriaId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CursoId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CursoId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CursoId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="modalCS" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Agregar Curso</h4>
            </div>
            <div class="modal-body">
                @*<form asp-action="">*@
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="Nombre" class="col-md-2 control-label">Nombre</label>
                            <div class="col-md-10">
                                <input for="Nombre" name="Nombre" id="Nombre" placeholder="Nombre" clas="form-control" />
                            </div>
                        </div>
                        <div class="form-control">
                            <label for="Descripcion" class="col-md-2 control-label">Descripción</label>
                            <div class="col-md-10">
                                <input  for="Descripcion" name="Descripcion" id="Descripcion" class="form-control" />
                            </div>
                        </div>
                        <div class="form-control">
                            <label for="Creditos" class="col-md-2 control-label">Creditos</label>
                            <div class="col-md-10">
                                <input  for="Creditos"" name="Creditos" id="Creditos" class="form-control" />
                            </div>
                        </div>
                        <div class="form-control">
                            <label for="Horas" class="col-md-2 control-label">Horas</label>
                            <div class="col-md-10">
                                <input for="Horas" name="Horas" id="Horas" class="form-control" />
                            </div>
                        </div>
                        <div class="form-control">
                            <label for="Costos" class="col-md-2 control-label">Costos</label>
                            <div class="col-md-10">
                                <input for="Costos" name="Costos" id="Costos" class="form-control" />
                            </div>
                        </div>
                        <div class="form-control">
                            <label for="Estado" class="col-md-2 control-label">Estado</label>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="Estado" id="Estado" />
                                </label>
                            </div>
                        </div>
                        <div class="form-control">
                            <label for="Categoria" class="col-md-2 control-label">Categoria</label>
                            <div class="checkbox">
                                <select class="form-control" id="CategoriaCursos">
                                    <option value="0">Seleccione...</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <label id="mensaje" class="col-md-2 control-label"></label>
                @*</form>*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" onclick="agregarCurso()" class="btn btn-primary" >Guardar</button>
            </div>
        </div>
    </div>
</div>
